---
import HeaderLayout from '../layouts/HeaderLayout.astro';
import { getGroups } from '../models/group/group.services'
import { setUserSession } from '../lib/auth';
import Button from '../components/core/Button';
import Group from '../components/Group.astro';
import type { IGroup } from '../models/group/group.interfaces';

const userSession = await setUserSession(Astro.cookies);
if (!userSession) {
    return Astro.redirect('/');
}

const groups = await getGroups(userSession.id);
---

<HeaderLayout 
	title="Grupos" 
	description="Pagina para crear o sumarte a grupos de quiniela o predicciones de los ganadores de los Oscars 2024" 
	userSession={userSession}
>
	<main>
		<header class="flex flex-col py-32 gap-4">
            <div>
                <h1 class="text-5xl font-light max-w-96 my-auto">
                Mis Grupos
                </h1>
                <p class="font-semibold mt-3 text-neutral-400">
                    ùnete a un grupo o crea uno nuevo para comparar tus predicciones
                </p>
            </div>
            <div class="flex mt-6">
                <Button>
                    Crear Grupo
                </Button>
            </div>
        </header>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            {
                groups.map((group: IGroup)=> (
                    <Group title={group.name} description={'description '} members={0}/>
                ))
            }
        </div>
	</main>
</HeaderLayout>