---
import Layout from '../layouts/Layout.astro';
import CardContainer from '../components/CardContainer.astro';

import { GET } from './api/movies.json'

let response = await GET(Astro)
const movies = await response.json()

---

<Layout title="Movie Tipsters" description="Pagina para hacer quiniela o predicciones de los ganadores de los Oscars 2024">
	<main>
		<CardContainer>
			
		</CardContainer>
	</main>
</Layout>