---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Grid from '../components/Grid.astro';

import { GET } from './api/movies.json'

let response = await GET(Astro)
const movies = await response.json()

---

<Layout title="Movie Tipsters" description="Pagina para hacer quiniela o predicciones de los ganadores de los Oscars 2024">
	<main>
		<Header/>
	</main>
</Layout>