<footer class="absolute left-0 right-0 py-6 text-center md:text-xs text-[11px] text-white/65 border-t border-black">
    <p>Hecho con cariño por <a href="https://gadhdz.dev" target="_blank" class="text-white hover:text-amber-500">Gad Hernandez</a></p>
    <p class="mt-1">Utilizando 
        <a href="https://astro.build/" class="text-white hover:text-amber-500">Astro</a>, 
        <a href="https://es.react.dev/" class="text-white hover:text-amber-500">React</a>, 
        <a href="https://supabase.com/" class="text-white hover:text-amber-500">Supabase</a>
        e imagenes de <a href="https://www.themoviedb.org/" class="text-white hover:text-amber-500">The MovieDB</a>
    </p>
    <p class="mt-2">
        <a href="https://www.buymeacoffee.com/gadhdz" class="text-white hover:text-amber-500">Buy me a coffe</a>
    </p>
</footer>