---
import ProfileInfo, { type IProfile } from './ProfileInfo'
interface Props {
    profile?: IProfile
}

const { profile }: Props = Astro.props
---

<header class="flex flex-col md:flex-row my-32 gap-4">
    <div class="w-2/3 order-2 md:order-1">
        { profile 
            ? <ProfileInfo client:load initialProfile={profile}/>
            : 
            <h1 class="text-5xl font-light max-w-96 my-auto">
                Predicciones de los Oscars
            </h1>
            <p class="font-semibold mt-6 text-neutral-400">Inicia sesiòn para guardar tus elecciones</p>
        }
    </div>
    <div class="flex items-top justify-start md:justify-center w-1/3 order-1 md:order-2">
        <img src="/img/oscars.png" alt="Oscars Logo" class="h-20 md:h-36">
    </div>
</header>