---
import ProfileInfo from './ProfileInfo'
import Toolbar from './Toolbar.astro'
import { type IProfile } from '../models/profile/profile.interfaces'

interface Props {
    profile: IProfile | null
    currentUserId?: string,
    n_selections?: number
}

const { profile, currentUserId, n_selections = 0 }: Props = Astro.props
---
<header>
    {
        !profile 
            ? 
                <div class="flex flex-col items-center justify-center text-center py-24 md:py-18">
                    <h1 class="text-4xl font-semibold uppercase">
                        Predicciones de los <span class="text-amber-500">Oscars</span>
                    </h1>
                    <p class="mt-3 text-sm text-white/50 max-w-[400px]">
                        Inicia sesiòn para guardar tus elecciones, crear grupos con tus amigos y ver quien acierta màs
                    </p>
                </div>
            : 
                <div class="">
                    <ProfileInfo client:load initialProfile={profile} currentUserId={currentUserId}/>
                    <Toolbar>
                        <p class=" uppercase">{ currentUserId === profile.id && 'Mis' } Predicciones <span class="text-amber-500">Oscars</span></p> 
                        <div class="hidden md:flex gap-3 ">
                            <p>{n_selections} <span>elecciones</span></p>
                            <p>0 <span>aciertos</span></p>
                        </div> 
                    </Toolbar>
                </div>
    }
</header>