---
import ModalAuthButton from "./ModalAuthButton"
import Button from "./core/Button"
import type { IProfile } from "./ProfileInfo"

interface Props {
    profile?: IProfile
}

const { profile }: Props = Astro.props
---
<nav class="flex h-16 py-3 justify-between items-center">
    <div>
        <img src="/img/full_icon.png" alt="Logo Movie Picker" class="h-8"/>
    </div>
    <div class="flex gap-3">
        { 
            profile 
            ? <Button
                outline
                href="/api/auth/signout"
                >  
                    Cerrar sesiòn
                </Button>
            : <ModalAuthButton client:idle/>
        }
    </div>
</nav>