---
import Button from "./core/Button"
---
<nav class="flex h-16 py-3 justify-between items-center">
    <div>
        <img src="/img/full_icon.png" alt="Logo Movie Picker" class="h-8"/>
    </div>
    <div class="flex gap-3">
        <Button>Login</Button>
    </div>
</nav>