---
import '@fontsource/poppins';
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-900 leading-relaxed text-slate-50 antialiased selection:bg-yellow-500 px-6 md:px-12 lg:px-44">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Poppins', sans-serif;
	}
</style>